<!-- src/app/step-form/step-form.component.html -->
<ng-container>
  @if (currentStep === 1) {
    <app-step1
      [form]="form"
      [tipos]="tipos"
      [currentStep]="currentStep"
      [maxSteps]="5"
      (next)="nextStep()"
      (prev)="prevStep()">
    </app-step1>
  }

  @if (currentStep === 2) {
    <app-step2
      [form]="form"
      [perfiles]="perfiles"
      [currentStep]="currentStep"
      [maxSteps]="5"
      (addPerfil)="addPerfil()"
      (removePerfil)="removePerfil($event)"
      (next)="nextStep()"
      (prev)="prevStep()">
    </app-step2>
  }

  @if (currentStep === 3) {
    <app-step3
      [currentStep]="currentStep"
      [maxSteps]="5"
      (removeUpload)="removeUpload($event)"
      (next)="nextStep()"
      (prev)="prevStep()">
    </app-step3>
  }

  @if (currentStep === 4) {
    <app-step4
      [form]="form"
      [currentStep]="currentStep"
      [maxSteps]="5"
      (next)="nextStep()"
      (prev)="prevStep()">
    </app-step4>
  }

  @if (currentStep === 5) {
    <app-step5
      [form]="form"
      [currentStep]="currentStep"
      [maxSteps]="5"
      (validate)="onValidateCode()"
      (prev)="prevStep()"
      (next)="nextStep()">
    </app-step5>
  }

  @if (currentStep === 6) {
    <app-step6
      [currentStep]="5"
      [maxSteps]="5"
      [folio]="folio">
    </app-step6>
  }
</ng-container>
